.appartments {
    &-block {
        max-width: 1100px;
        &__title {
            font-family: 'Playfair Display';
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
            line-height: 48px;
            color: #D4C17F;
            margin-bottom: 70px;
        }
        &__photo {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            
        }
    }  
    & .photo-block {
        margin-top: 30px;
        position: relative;
        & img {
            max-width: 535px;
        }
        &__subtitle {
            position: absolute;
            bottom: 50px;
            left: 70px;
            z-index: 1;
            font-weight: 400;
            font-size: 24px;
            color: #FFFFFF;

        }
    }
}


