* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

li {
    text-decoration: none;
    list-style: none;
}

body {
    background: #E5E5E5;
    height: 100%;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    color: black;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}


@import "base/general";
@import "base/media";
@import "base/mixins";
@import "base/variables";
@import "blocks/header";
@import "blocks/main";
@import "blocks/advantages";
@import "blocks/appartments";